{{#partial "content"}}

    <h1>Music Review</h1>

    {{#if tracks}}
        {{#each tracks}}
            <p>Current task:</p>
            <p>{{ title }} <a href="/artists/{{artistId}}/tracks/{{id}}">read more...</a></p>        {{/each}}
    {{else}}
        <p>No tracks!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}